@{
    ViewBag.Title = "Home Page";
    ViewBag.ClusterName = System.Configuration.ConfigurationManager.AppSettings["ClusterName"];
    ViewBag.PackageVersion = System.Configuration.ConfigurationManager.AppSettings["PackageVersion"];
    ViewBag.Host = System.Net.Dns.GetHostName();
    ViewBag.IPs = System.Net.Dns.GetHostAddresses(System.Net.Dns.GetHostName())
        .Select(ip => ip.ToString());
        
}

<div class="jumbotron">
    <img src="~/Content/Puppy_Labs_Chew_Toys.jpg" />
</div>

<div class="row alert alert-info" role="alert">
    <p>Check out these customer testimonials!</p>
</div>
<div class="row">
    <div class="col-md-4">
        <img src="~/Content/ImposterSyndrome.png" width="350px" />
    </div>
    <div class="col-md-4">
        <img src="~/Content/WorkingFromHome.png" width="350px" />
    </div>
    <div class="col-md-4">
        <img src="~/Content/HairOfTheDog.png" width="350px" />
    </div>
</div>

